{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:sonarjs/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "rules": {
    "import/no-unresolved": 0,
    "react/function-component-definition": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".jsx", ".tsx"] }],
    "import/extensions": 0,
    "no-shadow": "off",
    "@typescript-eslint/no-var-requires": 0,
    "react/boolean-prop-naming": [
      1,
      { "rule": "^(is|has|can)[A-Z]([A-Za-z0-9]?)+" }
    ]
  }
}
